.loginform{	margin-top:150px;}
.alert-box p{margin: 0!important;}
.espaco{margin-right:10px;padding:8px 20px 9px;}
/*forms*/
fieldset{padding:1.5%;}
input[type="file"]{display:block;font-size:14px;margin:0 0 12px 0; padding:6px;}

/*tabelas*/
table.data-table{margin-bottom:-2px!important;}
a.table-actions{width:16px;height:16px;display:inline-block;background-position:center center;background-repeat:no-repeat;margin-right:3px;}
.table-edit{background:url("../images/actions-edit.png") right center no-repeat;}
.table-pass{background:url("../images/actions-pass.png") right center no-repeat;}
.table-delete{background:url("../images/actions-delete.png") right center no-repeat;}
.table-view{background:url("../images/actions-view.png") right center no-repeat;}
th.sorting_asc{background:url("../images/order-asc.png") right center no-repeat;}
th.sorting_desc{background:url("../images/order-desc.png") right center no-repeat;}
